# @umeng:registry=https://npm.baijia.com/
# @sxzz:registry=https://registry.npmjs.org/
# @gaotu:registry=https://npm.baijia.com/
# vite-plugin-istanbuler:registry=https://npm.baijia.com/
registry=http://npm.baijia.com/
shamefully-hoist=true
strict-peer-dependencies=false
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli/